{% extends 'base.html.twig' %}

{% block title %}Pointages{% endblock %}

{% block body %}
    <h1>Pointages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pointage.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ pointage.date ? pointage.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ pointage.duree ? pointage.duree|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pointages_index') }}" class="btn btn-info">Retour</a>

    <a href="{{ path('pointages_edit', {'id': pointage.id}) }}" class="btn btn-success float-right">Modifier</a>

    {{ include('pointages/_delete_form.html.twig') }}
{% endblock %}
