{% extends 'base.html.twig' %}

{% block title %}Chantiers{% endblock %}

{% block body %}
    <h1>Chantiers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chantier.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chantier.adresse }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ chantier.dateDebut ? chantier.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chantiers_index') }}" class="btn btn-info">Retour</a>

    <a href="{{ path('chantiers_edit', {'id': chantier.id}) }}" class="btn btn-success float-right">Modifier</a>

    {{ include('chantiers/_delete_form.html.twig') }}
{% endblock %}
